.header {
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer {
    background-color: yellow;
}
.one {
    background-color: magenta;
}
.two {
    background-color: indigo;
}
.three {
    background-color: violet;
}
.four {
    background-color: springgreen;
}
.five {
    background-color: yellowgreen;
}
.six {
    background-color: teal;
}
.content {
    background-color: slategray;
    
}
.menu-back {
    background-color: slategray;
}
#Name {
    font-weight: bold;
}
#Email {
    font-weight: bold;
}
#Phone {
    font-weight: bold;
}
#Reason {
    font-weight: bold;
}
#BestDay {
    font-weight: bold;
}
a.home:link {}
a.home:visited {
    color: pink;
}
a.home:hover {
    font-weight: bold;
}
a.home:active {
    text-decoration: none;
}
a.menu:link {}
a.menu:visited {
    color: pink;
}
a.menu:hover {
    font-weight: bold;
}
a.menu:active {
    text-decoration: none;
}
a.contactus:link {}
a.contactus:visited {
    color: pink;
}
a.contactus:hover {
    font-weight: bold;
}
a.contactus:active {
    text-decoration: none;
}
th {
    text-align: left;
    text-decoration: underline;
    font-weight: none;
}
td {
    padding-right: 200px;
}
